@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1><br>
    <h2>This is a final <strong> ASP.NET Core MVC </strong> module project. </h2><br><br>
    <h3>The objective is to create a program in C# that manages the customer list of a telecommunication company.</h3>
</div>
